.parallax {
  /* The image used */
  background-image: url("css/portfolio.gif");

  /* Set a specific height */
  min-height: -webkit-fill-available;
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
  /* background-size: cover; */

  transition: transform 0.3s ease-out;
  -webkit-box-shadow: inset 0px -30px 24px -20px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0px -30px 24px -20px rgba(0,0,0,0.10);
  box-shadow: inset 0px -30px 24px -20px rgba(0,0,0,0.10);

 
  }

  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
  }


  .portheadfilter {
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }